# Redireccionar a HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Deshabilitar la ejecución de scripts PHP en directorios no permitidos
# <Directory "ruta/al/directorio/no/permitido">
#  Order deny,allow
#  Deny from all
# </Directory>  # Mantén esto comentado a menos que sea necesario

# Protección contra hotlinking (considera ajustar para subdominios)
# RewriteEngine On
# RewriteCond %{HTTP_REFERER} !^https://(www\.)?tudominio\.com [NC]
# RewriteRule \.(jpg|jpeg|png|gif|swf|flv|pdf)$ -F [NC,L]

# Deshabilitar el listado de archivos
Options -Indexes

# Protección contra inyección de SQL
<IfModule mod_php5.c>
  AutoPrependFile .htaccess.prepend
</IfModule>

# Protección contra XSS
<IfModule mod_php5.c>
  AutoPrependFile .htaccess.prepend
</IfModule>

# Protección contra Cross-Site Request Forgery (CSRF)
<IfModule mod_csrf_protection.c>
  CsrfEnable On
  CsrfTokenHeader Name X-CSRF-TOKEN
  CsrfCookieName X-CSRF-TOKEN
  CsrfExpiration 10800 # 3 horas
</IfModule>

RewriteEngine On

# Redirecciona URL cron.php a cron.php
RewriteRule ^cron.php$ cron.php [NC,L,QSA]

# Redirecciona URLs para "f" antes de reglas más generales
RewriteRule ^f/([^/]+)$ index.php?app=forums&section=view.threads&location_url=$1 [NC,L,QSA]

# Redirecciona URLs para "region" antes de reglas más generales
RewriteRule ^region/([^/]+)$ index.php?app=forums&section=view.by.location&location_name=$1 [NC,L,QSA]

# Redirecciona URLs para "anuncio" antes de reglas más generales
RewriteRule ^anuncio/([^/]+)$ index.php?app=forums&section=view.thread&thread_id=$1 [NC,L,QSA]

# Redirecciona URLs para "mensajes" antes de reglas más generales
RewriteRule ^mensajescon/([^/]+)$ index.php?app=members&section=view.messages&r_id=$1 [NC,L,QSA]

# Redirecciona URLs para "mensajes" antes de reglas más generales
RewriteRule ^mensajes/todos$ index.php?app=members&section=messages [NC,L,QSA]
RewriteRule ^mensajes/todos/$ index.php?app=members&section=messages [NC,L,QSA]

# Reglas generales de reescritura
# redirige a la sección principal de cada app si no se especifica sección
RewriteRule ^(/)$ index.php?app=$1&section=null0 [NC,QSA,L]
# redirige a la sección principal de cada app si no se especifica sección con barra al final
RewriteRule ^([^/]+)/$ index.php?app=$1&section=null0 [NC,L,QSA]
# redirige a la sección principal de cada app si no se especifica sección sin barra al final
RewriteRule ^([^/]+)$ index.php?app=$1&section=null0 [NC,L,QSA]
# redirige a la sección principal de cada app si no se especifica sección
RewriteRule ^([^/]+)/([^/]+)$ index.php?app=$1&section=$2 [NC,L,QSA]


# Pagina no encontrada
ErrorDocument 404 /index.php/nofound
