/* Contiene estilos que se aplican a todos los modulos menos a Admin */

:root {
  --red: red;
  --green: #7dd957;
  --primary: #391334;
  --primary-dark: #3a003a;
  --primary-200: #5C395C;
  --primary-300: #85427e;
  --primary-light: #5d3a56;

  --darkgray: #202123;
  --darkgray2: #2f4553;
  --gray: #b1bad3;
  --gray2: #557086;
  --grey-200: #b1bad3;
  --blue: #1475e0;

  --darkgreen: #2b5329;
  --darkgreen2: #1a361c;
  --green: #7dd957;
  --green2: #284d2b;
  --green-200: #8bc34a;
}


section {
  background-color: #fff;
    margin: 0 auto;
    border: solid 2px #2C0928;
    border-radius: 8px;
    padding: 0 0 10px 0;
}

a
{
  color: var(--primary-200) !important;
  text-decoration-line: none;
  &:hover
  {
    color: var(--primary) !important;
  }
}


body {
  background-color: #552C50;
  /*font-family: Verdana, Helvetica, sans-serif;*/
  font-family: Arial, 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
  color: var(--primary-light);
  max-width:995px !important;
}

/* Colores menu dropdown */
nav
{
  a{
    color: var(--gray2) !important;
  }  
}

nav {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A86AA0), color-stop(52%, #F8EEF7));
  background: -webkit-linear-gradient(160deg, #A86AA0 6%, #F8EEF7 90%);
  background: -o-linear-gradient(160deg, #A86AA0 6%, #F8EEF7 90%);
  background: linear-gradient(160deg, #A86AA0 6%, #F8EEF7 90%);
  background: -ms-linear-gradient(160deg, #A86AA0 6%, #F8EEF7 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A86AA0', endColorstr='#F8EEF7',GradientType=1 );
  border: solid 2px #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  width: auto;
  height: 80px;
  margin: 0 0 8px 0;
  padding: 0;
  position: relative;
}

/* Colores check */
.form-check-input:checked {
  background-color: var(--primary-300);
  border-color: var(--primary-300);
}

.form-check-input:focus {
  box-shadow: 0 0 0 .25rem rgba(175, 35, 180, 0.308);
}

.form-check-input {
  border: var(--bs-border-width) solid #6d4e7c;
}
/* Fin Colores check */

/** Colores botones */
.btn-primary {
  background: none;
  border: 1px solid var(--primary-light) !important;
  color: var(--primary-light) !important;
  span {
    color: var(--primary-light) !important;
  }

  &:hover {
    background: none;
    border: 1px solid var(--primary) !important;
    span {
      color: var(--primary) !important;
    }
  }
}

.btn-secondary {
  background-color: unset !important;
  /* Opción 1 */
  /* background-color: #7dd957; /* Opción 2 */
  color: var(--primary-dark) !important;
  border: 1px solid var(--primary) !important;

  /* Opción 1 */
  /* color: #202123; /* Opción 2 */
}

.btn-tertiary {
  background-color: #b1bad3;
  /* Opción 1 */
  /* background-color: #f5f5f5; /* Opción 2 */
  color: #2f4553;

  /* Opción 1 */
  /* color: #4c4422; /* Opción 2 */
  span {
    color: #2f4553;
    /* Opción 1 */
    /* color: #4c4422; /* Opción 2 */
  }
}

.btn-red {
  background-color: #6A041D !important;
}

.btn-grey {
  background-color: var(--darkgray2);
}

.btn-grey:hover {
  background-color: var(--darkgray2);
}

.btn-dark {
  background-color: var(--darkgray);
}

.btn-dark:hover {
  background-color: var(--darkgray);
}

.btn-grey2 {
  background-color: var(--gray2);
}

.btn-grey2:hover {
  background-color: var(--gray2);
}

.btn-blue {
  background-color: var(--blue);
}

.btn-blue:hover {
  background-color: var(--blue);
}

/* Fin colores botones */

/* Colores de textos */

.text-primary {
  color: var(--primary-light) !important;
}

.text-primary-dark {
  color: var(--primary-dark) !important;
}

/* Fin colores de textos */

/* Threads HILOS */
.thread-card {
  margin-bottom: 1.5rem;
}

.thread-card .card-header {
  background: #F4E8F2;
  border: 2px solid #E6D9E4;
  border-radius: 5px;
  padding: 0 2px 0 0;
  display: flex;
  justify-content: space-between;
  color: var(--primary-light);
}

.thread-card .card-header>div:first-child {
  margin-left: 2px;
  margin-top: 3px;
  text-align: left;
  overflow: hidden;
}

.thread-card .card-header>div:nth-child(1) {
  width: 405px;
  text-align: left;
  overflow: hidden;
  font-size: 13px;
  margin-left: 10px;
}

.thread-card .subheader {
  font-size: 14px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.btn-autorenueva{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 40px;
  a{
    color: #ee0000 !important;
    font-weight: 600;
    font-size: 10px;
  }
}


.thread-card .card-body>p {
  margin: 0;
}

.card-footer {
  display: flex;
}

.thread-card .card-footer .chip {
  min-width: 34px;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #7F627F;
}

.chip
{
  display: flex; /* O flexbox, grid, o block si es necesario */
  align-items: center; /* Centra los elementos verticalmente */
  margin-right: 10px;
  i{
    margin-right: 5px;
  }
}

/**.thread-card .card-footer>div:last-child>div:last-child>div {
  cursor: pointer;
  font-weight: 900;
  min-width: 34px;
  padding: 0px 2px;
  vertical-align: top;
  text-align: center;
  display: inline;
  font-size: 10px;
  border: 1px solid #C985E9;
  border-radius: 4px;
  height: 24px;
  margin-right: 3px;
  color: #983C7E;
  background: #F6ECFD;
  line-height: 1;
}*/

.thread-title {
  color: var(--primary-dark);
  font-size: 14px;
}

.thread-content {
  color: var(--bs-gray-800);
  font-size: 13px;
}
.thread-card .card-body
{
  padding: 6px !important;
}
/* Fin Threads HILOS */


.center-align
{
  text-align: center;
  margin: auto;
}



.pagination {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  border-radius: 5px;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li a {
  color: var(--primary); /* Color del texto */
  border: 1px solid var(--primary); /* Borde púrpura */
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px; /* Borde redondeado */
  background-color: none !important; /* Fondo púrpura claro */
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: var(--primary); /* Fondo púrpura oscuro en hover */
  color: white !important;  /* Texto blanco en hover */
}

.pagination li.active a {
  background-color: var(--primary); /* Fondo púrpura en página activa */
  color: white !important; /* Texto blanco en página activa */
  border-color: var(--primary); /* Borde púrpura en página activa */
}

.pagination li a i.material-icons {
  vertical-align: middle;
  font-size: 1.2rem;
  color: var(--primary); /* Color del ícono */
}

.pagination li.waves-effect a:hover i.material-icons {
  color: white; /* Color del ícono en hover */
}
