/* Contiene estilos que se aplican a todos los modulos menos a Admin */

:root {
  --red: red;
  --green: #3f8a66 !important;
  --primary: #01415b;
  --primary-dark: #283845;
  --primary-200: #a6bc09;
  --primary-300: #198c7f;
  --primary-light: #ccea8d;

  --darkgray: #202123;
  --darkgray2: #2f4553;
  --gray: #b1bad3;
  --gray2: #557086;
  --grey-200: #b1bad3;
  --blue: #1475e0;

  --darkbrown: #767771;
  --darkbrown2: #353535;

  --darkgreen: #2b5329;
  --darkgreen2: #1a361c;
  --green: #7dd957;
  --green2: #284d2b;
  --green-200: #8bc34a;
}

section {
  padding: 10px 0;
}

a {
  color: white !important;
  text-decoration-line: none;
  &:hover {
    color: var(--primary-300) !important;
  }
}

body {
  background-color: #f8faf3;
  /*font-family: Verdana, Helvetica, sans-serif;*/
  font-family: Arial, "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Noto Color Emoji";
}

/* Colores menu dropdown */
nav {
  .dropdown-item {
    color: var(--primary-light) !important;
    &:hover {
      color: var(--primary) !important;
    }
  }
  a {
    color: white !important;
    &:hover {
      color: white !important;
    }
  }
}

/* Colores check */
.form-check-input:checked {
  background-color: var(--primary-300);
  border-color: var(--primary-300);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(175, 35, 180, 0.308);
}

.form-check-input {
  border: var(--bs-border-width) solid #6d4e7c;
}
/* Fin Colores check */

.btn {
  color: white !important;
}

/** Colores botones */
.btn-primary {
  background: var(--primary);
  border: none;
  color: white;
  span {
    color: var(--primary) !important;
  }

  &:hover {
    background-color: var(--darkgray2);
    color: white !important;
  }
}

.btn-primary-200 {
  background-color: var(--primary-200);
  color: white;
  span {
    color: white !important;
  }
}

.btn-secondary {
  background-color: unset !important;
  /* Opción 1 */
  /* background-color: #7dd957; /* Opción 2 */
  color: var(--primary-dark) !important;
  border: 1px solid var(--primary) !important;

  /* Opción 1 */
  /* color: #202123; /* Opción 2 */
  &:hover {
    color: var(--primary-dark) !important;
  }
}

.btn-tertiary {
  background-color: var(--primary-300);
  /* Opción 1 */
  /* background-color: #f5f5f5; /* Opción 2 */
  color: white;

  /* Opción 1 */
  /* color: #4c4422; /* Opción 2 */
  span {
    color: white;
    /* Opción 1 */
    /* color: #4c4422; /* Opción 2 */
  }
}

.btn-red {
  background-color: #6a041d !important;
}

.btn-grey {
  background-color: var(--darkgray2);
}

.btn-grey:hover {
  background-color: var(--darkgray2);
}

.btn-dark {
  background-color: var(--darkgray);
}

.btn-dark:hover {
  background-color: var(--darkgray);
}

.btn-grey2 {
  background-color: var(--gray2);
}

.btn-grey2:hover {
  background-color: var(--gray2);
}

.btn-blue {
  background-color: var(--blue);
}

.btn-blue:hover {
  background-color: var(--blue);
}

.btn-head {
  background: #ffffff24;
  /*border: 1px solid white;*/
  box-shadow: 0 0 3px -1px white;
  color: white;
  margin: 0 15px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 122px;
  padding: 0 18px;
  border-radius: 3px;
  i {
    font-size: 28px !important;
  }
}
.btn-head-mobile {
  color: white;
  margin: 0 6px;
  align-items: center;
  padding: 0 8px;
  border-radius: 3px;
  font-size: 12px;
  i {
    font-size: 28px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .btn-head {
    margin: 0px 6px;
    min-height: 43px;
    font-size: 11px;
    min-width: 83px;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 767px) {
  .menu-head-left {
    display: none !important;
  }
  .menu-head-left-mobile {
    display: block !important;
  }
  .menu-m-p-f-mobile {
    display: block !important;
  }
  .menu-m-p-f {
    display: none !important;
  }
}

/* Fin colores botones */

/* Colores de textos */

.text-primary {
  color: var(--primary) !important;

  &:hover {
    color: var(--primary-200) !important;
  }
}

.text-primary-dark {
  color: var(--primary-dark) !important;
}

.text-primary-200 {
  color: var(--primary-200) !important;
}
.text-primary-300 {
  color: var(--primary-300) !important;
}
.text-primary-light {
  color: var(--primary-light) !important;
}
.text-secondary {
  color: var(--green) !important;
}

/* Fin colores de textos */

/* Threads HILOS */
.thread-card {
  margin-bottom: 1.5rem;
  border: none;
}

.thread-card .card-header {
  background: var(--primary-dark);
  padding: 0 2px 0 0;
  display: flex;
  justify-content: space-between;
  color: var(--bs-white);
  border-bottom: none;
}

.thread-card .card-header > div:first-child {
  margin-left: 2px;
  margin-top: 3px;
  text-align: left;
  overflow: hidden;
}

.thread-card .card-header > div:nth-child(1) {
  width: 405px;
  text-align: left;
  overflow: hidden;
  font-size: 13px;
  margin-left: 10px;
}

.thread-card .subheader {
  font-size: 14px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-autorenueva {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 40px;
  a {
    color: #ee0000 !important;
    font-weight: 600;
    font-size: 10px;
  }
}

.thread-card .card-body > p {
  margin: 0;
}

.card-footer {
  display: flex;
  background-color: unset;
  border-top: none !important;
}

.thread-card .card-footer .chip {
  min-width: 34px;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #7f627f;
}

.chip {
  display: flex; /* O flexbox, grid, o block si es necesario */
  align-items: center; /* Centra los elementos verticalmente */
  margin-right: 10px;
  i {
    margin-right: 5px;
  }
}

/**.thread-card .card-footer>div:last-child>div:last-child>div {
  cursor: pointer;
  font-weight: 900;
  min-width: 34px;
  padding: 0px 2px;
  vertical-align: top;
  text-align: center;
  display: inline;
  font-size: 10px;
  border: 1px solid #C985E9;
  border-radius: 4px;
  height: 24px;
  margin-right: 3px;
  color: #983C7E;
  background: #F6ECFD;
  line-height: 1;
}*/

.thread-title {
  color: var(--primary-dark);
  font-size: 14px;
}

.thread-content {
  color: var(--bs-gray-800);
  font-size: 13px;
  margin: 10px 0 15px 0;
}
.thread-card .card-body {
  padding: 6px !important;
}
/* Fin Threads HILOS */

.center-align {
  text-align: center;
  margin: auto;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  border-radius: 5px;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li a {
  color: var(--primary); /* Color del texto */
  border: 1px solid var(--primary); /* Borde púrpura */
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px; /* Borde redondeado */
  background-color: none !important; /* Fondo púrpura claro */
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: var(--primary); /* Fondo púrpura oscuro en hover */
  color: white !important; /* Texto blanco en hover */
}

.pagination li.active a {
  background-color: var(--primary); /* Fondo púrpura en página activa */
  color: white !important; /* Texto blanco en página activa */
  border-color: var(--primary); /* Borde púrpura en página activa */
}

.pagination li a i.material-icons {
  vertical-align: middle;
  font-size: 1.2rem;
  color: var(--primary); /* Color del ícono */
}

.pagination li.waves-effect a:hover i.material-icons {
  color: white; /* Color del ícono en hover */
}

.item-menu-sidebar {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: #f0dced 1px solid;
  border-left: #f0dced 1px solid;
  border-right: #f0dced 1px solid;
  background: #f8f1f7;
  padding: 8px 0px 8px 10px;
}

.item-menu-sidebar img {
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 2px;
}

.item-menu-sidebar .item-text {
  font-size: 11px;
}

.menu-sidebar1 {
  margin-top: 10px;

  hr {
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0;
  }
  .meca {
    text-align: center;
    background: #d5a5d0;
    color: #fff;
    font-size: 9pt;
    border-radius: 5px 5px 0 0;
    padding-top: 4px;
  }
}

.item-menu-sidebar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f1f7;
  border: 1px solid #f0dced;
  padding: 8px 5px;
  font-weight: 100;
  margin: 5px;
  height: 50px;
  width: 100%; /* Ajuste automático al contenedor */
}

.item-menu-sidebar-mobile img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.item-menu-sidebar-mobile .item-text {
  font-size: 9px;
  text-align: center;
}

.item-menu-sidebar-active {
  background-color: #d5a5d0;
  .item-text {
    color: white !important;
  }
}

.menu-sidebar-mobile {
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se alineen uno al lado del otro y salten a la siguiente fila */
  justify-content: center;
}

.meca-mobile {
  text-align: center;
  background: #f0dced;
  color: #fff;
  font-size: 10px;
  border-radius: 5px 5px 0 0;
  padding-top: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.beacrumb {
  font-size: 11px;
  color: #552c50;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-menu hr {
  margin: 0.3rem 0;
}

@media (max-width: 768px) {
  .subforos-items {
    display: none;
  }

  #item-stats {
    display: none;
  }
}
